SUPABASE_URL=
SUPABASE_KEY=
JWT_SECRET=
YC_API_KEY=
YC_FOLDER_ID=
YC_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/textEmbedding
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
ENABLE_TEST_TOKEN_ENDPOINT=false
