.theme-button {
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  
  color: light-dark(#64748b, #94a3b8);
  transition: background-color 0.2s, color 0.2s;
}

.theme-button:hover {
  background-color: light-dark(#e2e8f0, #1e293b);
}

.theme-button svg {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}